* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}


.navbar {
    height: 100%;
    display: grid;
    grid-template-columns: 1em 25% auto 30% 1em;
    grid-template-rows: 5em auto 5em;
    background:  rgba(255, 255, 255, 0.15);
}

.main-nav {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    /* display:none; */
}


.faded-letter{
    color: black;
    background: white;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700
}
.faded-letter:hover {
    background: yellow;
}



.navbar-toggle { 
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    font-weight: bolder;
    color: blue;
}

.navbar-toggle:hover {
    color: red;
} 

.home {
    
    background-image: url(jasperBW.jpg);
    height: 100%;
    /* object-fit: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.shrink {
    position: absolute;
    top: 200px;
    right: 10px;
}

/* .overlay {
    height:100%;
    width: 100%;
    border-right: 25px solid transparent;
    display: grid;
    grid-template-columns: auto 25px;

}
.overlay:hover{
    border-right: 25px solid yellow;
} */

nav li {
    list-style: none;
}

nav .nav-links {
    text-decoration: none;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffff33;
    background: transparent;
    padding-right:50px;
    padding-left: 25px;
}
nav .nav-links:hover {
    color: black;
    background:  rgba(255, 255, 255, 0.25);
    border-right: 20px solid rgba(255, 255, 255, 0.25);
    /* border-right: 20px solid blue; */
}

nav .chat:hover {
    color: royalblue;
    background: blue;
}
nav .instagram:hover {
    color: pink;
    background: fuchsia;
}
nav .stylist:hover {
    color: darkorange
}
nav .services:hover{
    color:purple;
}

