* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}


.navbar {
    height: 100%;
    display: grid;
    grid-template-columns: 1em 25% auto 30% 1em;
    grid-template-rows: 5em auto 5em;
    /* background:  rgba(255, 255, 255, 0.15); */
}

.main-nav {
    
    display:none;
}
.active {
    display:block;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}



/* hair by david logo */

.full-logo {
   display: flex;
   position: absolute;
   top: 1em;
   left: .75em;
   height: 85px;
}
.graphic-logo {
    height: 100%;
}
.name-logo {
    font-size: 20px;
    letter-spacing: 0.135em;
    line-height: 1.3;
    text-transform: uppercase;
    margin-left: .5em;
    align-items: center;
    color: #0f0d27;
}

/* toggle hamburger */

.navbar-toggle { 
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    font-weight: bolder;
    color: #003EB0;
}

.navbar-toggle:hover {
    color: red;
} 

/* toggle hamburger end */



/* main services menu */

.main-services {
    /* height: 100%; */
    background: linear-gradient(rgba(236, 244, 236, 0.228), rgba(112, 33, 222, 0.214));
    /* background: green; */
    display: grid;
    grid-template-columns: 1em auto 1em auto 1em;
    grid-template-rows: 150px 50px auto 100px;
    color:#0f0d27;
    
}


.services {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 0;
    letter-spacing: 0.114em;
}

.cut {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    /* text-transform: uppercase; */
}
.color {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    /* text-transform: uppercase; */
}
.service-type {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.062em;
    line-height: 2;
    color: #003EB0;
}
.service-type-detail {
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 0.016em;
    margin-top: 1.25em;
}
.color-correction {
    margin-top: 1.5em;
}

p {
    font-size: 1rem;
line-height: 1.3;
letter-spacing: 0.031em;
font-weight: 400;
}
.disclaimer {
    margin-top: 2em;
    color:#57565e;
}

@media(max-width: 769px){
    .main-services{
        grid-template-columns: 1em auto 1em;
        grid-template-rows: 150px 50px auto auto 100px;
    }
    .services{
        grid-column: 2 / 3;
    }
    .cut {
        grid-column: 2 / 3;
    }
    .color { 
        grid-column: 2 / 3;
        grid-row: 4  / 5;
    }
    .service-color{
        margin-top: 2em;
        line-height: 1.4;
        /* font-size: 1.4rem; */
    }
}





footer {
    position: fixed;
    background:rgba(255, 255, 255, 0.639);
    bottom: 0px;
    height: 50px;
    width: 100%;
    padding-left: .75em;
    
    line-height: 1.4;
}
footer h3 {
    color: #0f0d27;
}
footer p {
    color: #0f0d27;
    font-size: 1rem;
    line-height: .8em;
}
footer p span {
    color: blue;
}

/* .overlay {
    height:100%;
    width: 100%;
    border-right: 25px solid transparent;
    display: grid;
    grid-template-columns: auto 25px;

}
.overlay:hover{
    border-right: 25px solid yellow;
} */

nav li {
    list-style: none;
}

nav .nav-links {
    text-decoration: none;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: navy;
    background: transparent;
    padding-right:50px;
    padding-left: 25px;
}
nav .nav-links:hover,
nav .nav-links:focus {
    color: black;
    background:  rgba(255, 255, 255, 0.25);
    border-right: 20px solid rgba(255, 255, 255, 0.25);
    border-right: 20px solid blue;
}

nav .chat:hover,
nav .chat:focus {
    color: blue;
    background: green;
}
nav .instagram:hover,
nav .instagram:focus {
    color: pink;
    background: fuchsia;
}
nav .stylist:hover,
nav .stylist:focus {
    color: darkorange
}
nav .services:hover,
nav .services:focus{
    color:purple;
}

.arrows {
    color: fuchsia;
}

@media (max-width: 769px){
    .navbar {
        grid-template-columns: 1em 5px auto 1em;
        grid-template-rows: 7em auto 7em;
        /* background:  rgba(255, 255, 255, 0.45); */
    }
    nav .nav-links {
        text-decoration: none;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #F1F3EB;
        background: transparent;
        padding-right:25px;
        padding-left: 10px;
}
    .faded-letter {
        height: 50px;
    }
    .shrink {
        display:none;
    }
